@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@layer base {
  body {
    font-family: var(--font-geom), sans-serif;
  }
}

@theme {
  /* Main color palette */
  --color-bg: #FDE8E8;
  --color-primary: #D12923    ;
  --color-success: #7EB77F;
  --color-text: #242325;

  /* Semantic aliases */
  --color-card: #ffffff;
  --color-card-hover: #faf5f7;
  --color-muted: #9a9199;
  --color-border: #e0d5db;

  --font-display: var(--font-baskervville), serif;
  --font-sans: var(--font-geom), sans-serif;

  --default-transition-duration: 150ms;
}
